.card {
  display: flex !important;
  justify-content: space-between !important;
}
.card-action {
  padding: 5px !important;
  display: flex !important;
  /* justify-content: flex-end; */
  /* align-items: center; */
}
.card-content {
  padding: 5px 10px !important;
}

p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.card,
.card-content,
.card-title {
  width: 100% !important;
}
.card p,
.card-content p {
  font-size: 18px !important;
  text-transform: capitalize;
}

.checkv,
.editv,
.deletev {
  padding: 0 3px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* transform: scale(1); */
}
.checkv:hover,
.editv:hover,
.deletev:hover {
  transform: scale(1.4);
}
div .card-action {
  display: flex !important;
  flex: 1 !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center;
}
.vio {
  margin: 0 !important;
  padding-top: 0 !important;
}
.complete {
  text-decoration: line-through;
}

p.inner,
span.inner {
  color: rgba(247, 52, 52, 0.603);
}
p.outer {
  color: red;
  text-decoration: line-through;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p.timesize {
  font-size: 16px !important;
}
@media (max-width: 600px) {
  .category {
    display: block !important;
  }
  p.timesize {
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  div .card-action {
    display: flex !important;
    flex: 1 !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
  }
}
