* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
}
.modal-btn {
  background-color: transparent;
  border: none;
  color: red;
}
.modal-btn:hover,
.modal-btn:active {
  color: black;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mymodal {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5 ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  z-index: 10;
}
.mymodal.visible {
  top: 15%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border-bottom: 1px solid rgb(51, 50, 50);
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  .mymodal {
    width: 90%;
  }
  .header {
    font-size: 1.5rem;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.overlay.visible {
  display: block;
}
